{% extends "mad/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<div style="min-height:200px;width:100%">hello from div</div>
hello
<div class="container" id="content-container">
  <div class="space-30"></div>
  <div id="map-and-filters">
    <div id="filters">
      Filters
    </div>
    <div id="map-container">
      <h1>Map Container</h1>
      here goes the map
      {{ center }}
    </div>
    <input type="text" id="search-address">
    <input type="button" id="search-address-button" value="{% translate 'search' %}">
  </div>
</div>

{% endblock %}